#left-ear {
  transform: translateY(0);
  transition: all .5s linear;
}

#right-ear {
  transform: translateY(0);
  transition: all .5s linear;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translateY(-12px);
}

#left-eye {
  animation: creeping 2s linear infinite;
}

#right-eye {
  animation: creeping 2s linear infinite;
}

@keyframes creeping {

  0% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(12px);
  }

}
